@model dogalog.Models.CategoryModel

@{
    ViewBag.Title = "New Category";
}

<h2>Add a new Category</h2>
 @using (Html.BeginForm("Add", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
 {
     @Html.TextBoxFor(o=>o.Description)
     <button type="submit"></button>
 }